@use './variables' as *;
@use './mixins' as *;

footer{
    ul{
        display:flex;
        justify-content:space-evenly;
        padding:0;
        list-style:none;
    }
    p{
        text-align:center;
    }
}

.bottomT{
    color:$textSecondary;
    font-family:dizhitl;
    text-align: center;
    font-size: clamp(2.25rem, 2.175rem + 0.375vw, 2.625rem);
    margin:0 auto;
    transition: all 1s;

    span{
        cursor: pointer;
    }
    span:hover, span:focus{
        color:$accentColor;
    }
}

@media(min-width:1023px){
    footer{
        i{
            // 30-40px tablet only
            font-size: clamp(1.875rem, -1.7578rem + 5.6818vw, 2.5rem);
        }
    }
}

