@use './variables' as *;
@use './mixins' as *;

.mobileHidden, .eggHunt{
    display:none;
}
.wrapper{
    margin:0 auto;
    max-width:1620px;
    width:80%;
}
// BACKGROUNDS----------------------
body{
    background-color:$bgPrimary;
}

.bgSecondary{
    background-color:$bgSecondary;
}
// FONTS---------------------------
h2{
    @include fontBasics;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.2px;
    // 26-40px
    font-size: clamp(1.625rem, 1.45rem + 0.875vw, 2.5rem);
    position: relative;
    padding-top:1.5rem;
}

h2:after{
    content:"";
    border-bottom:2px solid $accentColor;
    position: absolute;
    width:33%;
    bottom:-10%;
    left:33%
}

// span{
//     color:$accentColor;
// }

p{
    font-family:dizhitl;
    color:$textPrimary;
    line-height: 1.5;
    // 600px width for desktop
}
// IMAGES--------------------------
img{
    width:100%;
    height:100%;
}
// SVG-------------------
[src$='.svg']{
    // 40-50px
    width:clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
    height:clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
    filter:$accentFilter;
}
// FONTAWESOME(ABOUT ME)
i{
    // 40-50px
    font-size: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
}
.fa-linkedin, .fa-file-pdf{
    color:$linkedin;
}

.fa-spotify{
    color:$spotify;
}

.fa-steam{
    color:$steam;
}

.fa-github{
    color:$textPrimary;
}

.scrambled{
    text-align:center;
    text-transform:uppercase;
    // 20-26px
    font-size: clamp(1.25rem, 1.175rem + 0.375vw, 1.625rem);
    letter-spacing:1.25px;
    color:$textSecondary;
}

@media (min-width:1023px){
    .mobileHidden{
        display:block;
    }

    .desktopHidden{
        display:none;
    }
}