@use './variables' as *;
@use './mixins' as *;

.mobileHidden, .eggHunt{
    display:none;
}
.wrapper{
    margin:0 auto;
    max-width:1620px;
    width:80%;
}
// BACKGROUNDS----------------------
body{
    background-color:$bgPrimary;
}

.bgSecondary{
    background-color:$bgSecondary;
}
// FONTS---------------------------
h2{
    @include fontBasics;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.2px;
    // 28-48px
    font-size: clamp(1.75rem, 1.5rem + 1.25vw, 3rem);
    position: relative;
    padding-top:1.5rem;
}

h2:after{
    content:"";
    border-bottom:2px solid $accentColor;
    position: absolute;
    width:33%;
    bottom:-10%;
    left:33%
}

span{
    color:$accentColor;
}

p{
    font-family:dizhitl;
    color:$textPrimary;
    line-height: 1.5;
    // 600px width for desktop
}
// IMAGES--------------------------
img{
    width:100%;
}
// SVG-------------------
[src$='.svg']{
    // 40-85px
    width:clamp(2.5rem, 1.9375rem + 2.8125vw, 5.3125rem);
    filter:$accentFilter;
}
// FONTAWESOME(ABOUT ME)
i{
    // 40-85px
    font-size: clamp(2.5rem, 1.9375rem + 2.8125vw, 5.3125rem);
}
.fa-linkedin{
    color:$linkedin;
}

.fa-file{
    color:$linkedin;
}

.fa-spotify{
    color:$spotify;
}

.fa-steam{
    color:$steam;
}

.fa-github{
    color:$textPrimary;
}
