@use './variables' as *;
@use './mixins' as *;

// ABOUT ME SECTION----------------
.aboutUl{
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    padding:0;
    gap:0.75rem;

    li{
        margin:10% auto;
    }
}

// TECH STACK SECTION-------------
.techSkills{
    h2{
        padding-top:0;
    }
}
.techUl{
    padding:0;
    display:grid;
    grid-template-columns:repeat(3, 1fr);

    li{
        @include flexColCen;
        justify-content: center;
        text-align: center;
    }
    p{
        // 12-36px
        font-size: clamp(0.75rem, 0.45rem + 1.5vw, 2.25rem);
    }
    i{
        color:$accentColor;
    }
}
// PROJECTS SECTION----------------
.projects{
    padding-bottom: 1.5rem;

    h2{
        margin:0 auto 10%;
    }
    i{
        // 18-36px
        font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
    }
    [src$='.svg']{
        width: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
    }
}

.prevButton, .nextButton{
    display:none;
}

.slide{
    margin-top:15%;
}

.projectImage{
    box-shadow: 10px 5px 9px 0px rgba(73, 181, 23,0.75);
    -webkit-box-shadow: 10px 5px 9px 0px rgba(73, 181, 23,0.75);
    -moz-box-shadow: 10px 5px 9px 0px rgba(73, 181, 23,0.75);
    cursor: pointer;
    transition:all 0.5s;
    position:relative;
}

.projectImage:after{
    content:'\f25a';
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    color:$textPrimary;
    position:absolute;
    bottom:0;
}

.projectImage:hover, .projectImage:focus{
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    border:5px solid $accentColor;
}

.projectLinks{
    display:flex;
    justify-content: space-around;
    gap:1rem;

    a{
        @include flexColCen;
        text-decoration: none;
        text-transform: uppercase;
    }
    a{
        color:$accentColor;
    }
}

.projectInfo{
    max-height:0;
    overflow:hidden;
    transition:1s ease-out;

    h3{
        color:$textPrimary;
        text-transform:capitalize;
        font-family: dizhitl;
        // 18-50px
        font-size: clamp(1.125rem, 0.875rem + 1.875vw, 3.125rem);
        margin-top:0;
    }

    ul{
        list-style:none;
        padding:0;
        display:flex;
        flex-wrap:wrap;
        gap:0.5rem;
        justify-content: space-evenly;
        color:$accentColor;
    }
    a{
        color:$accentColor;
        text-decoration: none;
    }
}

.partners{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
// CONTACT SECTION-----------------
.contact{
    h2{
        padding-top:0;
    }
}

input{
    margin:0.5rem auto;
    font-family:dizhitl;
    width:100%;
    height:2rem;
}

textarea{
    margin:0.5rem auto 1rem;
    width:100%;
    font-family:dizhitl;
    text-align: left;
    min-height:10rem;
}

.formButtons{
    display:flex;
    justify-content: space-evenly;
    gap:1rem;
    margin-bottom:1.5rem;
}

[type='reset']{
    max-width:30%;
}

button{
    cursor: pointer;
    font-family:dizhitl;
    min-height:2rem;
    width:100%
}

input:hover, input:focus, textarea:hover, textarea:focus, button:hover, button:focus{
    border:5px solid $accentColor;
    outline:none;
}
// ARCHIVE SECTION---------------
.archive{
    cursor: pointer;
    margin:1.5rem auto;
    text-transform: uppercase;
}

.archiveContent{
    max-height:0;
    overflow:hidden;
    transition:1s ease-out;

    ul{
        padding:0;
        list-style:none;
    }
    li{
        color:$textPrimary;
    }
    a{
        text-decoration:none;
        font-family:dizhitl;
        color:$accentColor;
    }
}

.eggy{
    display:block;
    padding-bottom:1.5rem;

    img{
        box-shadow: 0px 10px 9px 0px rgba(255, 215, 0, 0.75);
        -webkit-box-shadow: 0px 10px 9px 0px rgba(255, 215, 0, 0.75);
        -moz-box-shadow: 0px 5px 10px 0px rgba(255, 215, 0, 0.75);
    }
    img:hover, img:focus{
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        border:5px solid gold;
    }
    a{
        color:gold;
    }
    i{
        // 18-36px
        font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
        color:gold;
    }
}

.eggInfo{
    max-height:0;
    overflow:hidden;
    transition:1s ease-out;
}