@use './variables' as *;
@use './mixins' as *;

nav{
    background-color:$bgPrimary;
    position: relative;
}

.hamburger{
    position:fixed;
    top:5px;
    left:2.5px;
    height:40px;
    width:40px;
    border-radius: 5px;
    z-index: 10;
    background-color:$bgSecondary;  
}

.hamburger.active :nth-child(1){
    transform:translateY(12px) rotate(90deg);
}

.hamburger.active :nth-child(2){
    display:none;
}

.hamburger.active :nth-child(3){
    transform:translateY(-14px) rotate(-180deg);
}

.bar{
    display:block;
    background-color:$textPrimary;
    width:30px;
    height:5px;
    margin:6px auto;
    transition:all 0.5s;
    cursor: pointer;
}

.logo{
    @include ristan;
    margin:0 auto;
}
.logoT{
    @include T;
}

.desktopNav{
    position:fixed;
    background-color:$bgSecondary;
    width:100%;
    top:0%;
    left:100%;
    transition:all 1s;
    z-index: 1;
    border:2px solid $accentColor;

    ul{
        @include flexColCen;
        padding:0;
        margin:0;
        list-style-type: none;
    }
    li{
        margin:0.5rem auto;
    }
    a{
        @include fontBasics;
        text-decoration: none;
        // "12-18px"
        font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
    }
}

.desktopNav a:hover{
    color:$accentColor;
}

.desktopNav.active{
    left:0;
}

@media (min-width:1023px){
    .logo{
        text-align:left;
        margin-left:5%;
        width:25%;
    }
    .desktopNav{
        position:static;
        display:flex;
        border:none;

        ul{
            width:50%;
            flex-direction:row;
            justify-content: space-around;
        }
    }
}   
