html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

@font-face {
  font-family: dizhitl;
  src: url(../assets/fonts/dizhitl/dizhitl-regular.ttf);
}
.mobileHidden, .eggHunt {
  display: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1620px;
  width: 80%;
}

body {
  background-color: hsl(0, 0%, 0%);
}

.bgSecondary {
  background-color: hsl(0, 0%, 12%);
}

h2 {
  font-family: dizhitl;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1.2px;
  font-size: clamp(1.625rem, 1.45rem + 0.875vw, 2.5rem);
  position: relative;
  padding-top: 1.5rem;
}

h2:after {
  content: "";
  border-bottom: 2px solid hsl(101, 77%, 40%);
  position: absolute;
  width: 33%;
  bottom: -10%;
  left: 33%;
}

span {
  color: hsl(101, 77%, 40%);
}

p {
  font-family: dizhitl;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
}

[src$=".svg"] {
  width: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
  height: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
  filter: invert(76%) sepia(37%) saturate(5601%) hue-rotate(58deg) brightness(89%) contrast(86%);
}

i {
  font-size: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);
}

.fa-linkedin, .fa-file {
  color: hsl(201, 100%, 35%);
}

.fa-spotify {
  color: hsl(141, 73%, 42%);
}

.fa-steam {
  color: hsl(206, 99%, 41%);
}

.fa-github {
  color: hsl(0, 0%, 100%);
}

.scrambled {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1.25rem, 1.175rem + 0.375vw, 1.625rem);
  letter-spacing: 1.25px;
  color: gold;
}

@media (min-width: 1023px) {
  .mobileHidden {
    display: block;
  }
  .desktopHidden {
    display: none;
  }
}
nav {
  background-color: hsl(0, 0%, 0%);
  position: relative;
}

.hamburger {
  position: fixed;
  top: 5px;
  left: 2.5px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  z-index: 10;
  background-color: hsl(0, 0%, 12%);
}

.hamburger.active :nth-child(1) {
  transform: translateY(12px) rotate(90deg);
}

.hamburger.active :nth-child(2) {
  display: none;
}

.hamburger.active :nth-child(3) {
  transform: translateY(-14px) rotate(-180deg);
}

.bar {
  display: block;
  background-color: hsl(0, 0%, 100%);
  width: 30px;
  height: 5px;
  margin: 6px auto;
  transition: all 0.5s;
  cursor: pointer;
}

.logo {
  color: hsl(0, 0%, 100%);
  font-family: dizhitl;
  text-align: center;
  font-size: clamp(1.625rem, 0.1719rem + 2.2727vw, 1.875rem);
  margin: 0 auto;
}

.logoT {
  color: hsl(101, 77%, 40%);
}

.desktopNav {
  position: fixed;
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  top: 0%;
  left: 100%;
  transition: all 1s;
  z-index: 1;
  border: 2px solid hsl(101, 77%, 40%);
}
.desktopNav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.desktopNav li {
  margin: 0.5rem auto;
}
.desktopNav a {
  font-family: dizhitl;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
}

.desktopNav a:hover {
  color: hsl(101, 77%, 40%);
}

.desktopNav.active {
  left: 0;
}

@media (min-width: 1023px) {
  .logo {
    text-align: left;
    margin-left: 5%;
    width: 25%;
  }
  .desktopNav {
    position: static;
    display: flex;
    border: none;
  }
  .desktopNav h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .desktopNav ul {
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
  }
}
header {
  background-color: hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h2:after {
  content: "";
  border-bottom: none;
}

h1 {
  font-family: dizhitl;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 1.2;
  margin-top: 50%;
  font-size: clamp(3rem, 2.725rem + 1.375vw, 4.375rem);
}

.headshot {
  border-radius: 25px;
  margin: 20% auto;
  transform: rotate(45deg);
  overflow: hidden;
  width: 60vw;
  box-shadow: 10px -10px 9px 0px rgba(73, 181, 23, 0.75);
  -webkit-box-shadow: 10px -10px 9px 0px rgba(73, 181, 23, 0.75);
  -moz-box-shadow: 10px -10px 9px 0px rgba(73, 181, 23, 0.75);
}

.headshot img {
  transform: rotate(-45deg);
  scale: 1.42;
}

@media (min-width: 500px) {
  .headshot {
    width: 360px;
  }
  h1 {
    margin-top: 25%;
  }
}
@media (min-width: 767px) {
  header {
    flex-direction: row;
    margin-top: 5%;
  }
  header h2 {
    text-align: left;
    padding: 0;
  }
  .h1Container {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
  }
  h1 {
    margin: 0;
    text-align: left;
  }
  .headshot {
    margin: 0% auto;
  }
}
@media (min-width: 1199px) {
  header {
    height: 80vh;
  }
  .h1Container {
    max-width: 50%;
  }
}
.aboutUl {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  gap: 0.75rem;
}
.aboutUl li {
  margin: 10% auto;
}

.techSkills h2 {
  padding-top: 0;
}

.techUl {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.techUl li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.techUl p {
  font-size: clamp(0.75rem, 0.45rem + 1.5vw, 2.25rem);
}
.techUl i {
  color: hsl(101, 77%, 40%);
}

.projects {
  padding-bottom: 1.5rem;
}
.projects h2 {
  margin: 0 auto 10%;
}
.projects i {
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
}
.projects [src$=".svg"] {
  width: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
  height: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
}

.prevButton, .nextButton {
  display: none;
}

.slide {
  margin-top: 15%;
}

.projectImage {
  box-shadow: 10px 5px 9px 0px rgba(73, 181, 23, 0.75);
  -webkit-box-shadow: 10px 5px 9px 0px rgba(73, 181, 23, 0.75);
  -moz-box-shadow: 10px 5px 9px 0px rgba(73, 181, 23, 0.75);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}

.projectImage:after {
  content: "\f25a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  position: absolute;
  bottom: 0;
}

.projectImage:hover, .projectImage:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 5px solid hsl(101, 77%, 40%);
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.projectLinks a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
.projectLinks a {
  color: hsl(101, 77%, 40%);
}

.projectInfo {
  max-height: 0;
  overflow: hidden;
  transition: 1s ease-out;
}
.projectInfo h3 {
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  font-family: dizhitl;
  font-size: clamp(1.125rem, 0.875rem + 1.875vw, 3.125rem);
  margin-top: 0;
}
.projectInfo ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
  color: hsl(101, 77%, 40%);
}
.projectInfo a {
  color: hsl(101, 77%, 40%);
  text-decoration: none;
}
.projectInfo strong {
  color: hsl(201, 100%, 35%);
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.partners a {
  color: hsl(201, 100%, 35%);
}

.contact h2 {
  padding-top: 0;
}

input {
  margin: 0.5rem auto;
  font-family: dizhitl;
  width: 100%;
  height: 2rem;
}

textarea {
  margin: 0.5rem auto 1rem;
  width: 100%;
  font-family: dizhitl;
  text-align: left;
  min-height: 10rem;
}

.formButtons {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

[type=reset] {
  max-width: 30%;
}

button {
  cursor: pointer;
  font-family: dizhitl;
  min-height: 2rem;
  width: 100%;
}

input:hover, input:focus, textarea:hover, textarea:focus, button:hover, button:focus {
  border: 5px solid hsl(101, 77%, 40%);
  outline: none;
}

.archive {
  cursor: pointer;
  margin: 1.5rem auto;
  text-transform: uppercase;
}

.archiveContent {
  max-height: 0;
  overflow: hidden;
  transition: 1s ease-out;
}
.archiveContent ul {
  padding: 0;
  list-style: none;
}
.archiveContent li {
  color: hsl(0, 0%, 100%);
  padding-top: 1rem;
}
.archiveContent a.archiveProjectTitle {
  text-transform: uppercase;
}
.archiveContent a {
  text-decoration: none;
  font-family: dizhitl;
  color: hsl(101, 77%, 40%);
}
.archiveContent .partners a {
  color: hsl(201, 100%, 35%);
}
.archiveContent ul li:nth-child(-n+4) {
  border-bottom: 2px solid hsl(101, 77%, 40%);
}

.eggy {
  display: block;
  padding-bottom: 1.5rem;
}
.eggy img {
  box-shadow: 0px 10px 9px 0px rgba(255, 215, 0, 0.75);
  -webkit-box-shadow: 0px 10px 9px 0px rgba(255, 215, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(255, 215, 0, 0.75);
}
.eggy img:hover, .eggy img:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 5px solid gold;
}
.eggy a {
  color: gold;
}
.eggy i {
  font-size: clamp(1.375rem, 1.2rem + 0.875vw, 2.25rem);
  color: gold;
}

.eggInfo {
  max-height: 0;
  overflow: hidden;
  transition: 1s ease-out;
}

@media (min-width: 767px) {
  .about h2 {
    padding-top: 1.5rem;
  }
  .aboutUl {
    gap: 0;
  }
  .aboutUl li {
    margin: 1.5rem auto;
  }
  .techUl {
    grid-template-columns: repeat(4, 1fr);
  }
  .projects h2 {
    margin: 0 auto;
  }
  .projectImage {
    cursor: pointer;
  }
  .slide {
    margin-top: 10%;
  }
}
@media (min-width: 1023px) {
  .about {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .about img {
    border-radius: 10px;
    width: 20vw;
  }
  .about h2 {
    font-size: clamp(1.625rem, 1.5rem + 0.625vw, 2.25rem);
  }
  .techSkills h2:after {
    width: 15%;
    left: 42.5%;
  }
  .projects {
    padding-bottom: 1rem;
  }
  .projects h2 {
    margin: 0 auto;
  }
  .projects h3 {
    font-size: clamp(1.125rem, 0.9rem + 1.125vw, 2.25rem);
  }
  .projects i {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  }
  .projects [src$=".svg"] {
    width: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  }
  .slide {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    margin: 5rem auto 2.5rem;
  }
  .projectImage {
    width: 30vw;
    height: 18.5414091471vw;
    box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
    -webkit-box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
    -moz-box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
  }
  .projectImage:hover, .projectImage:focus {
    border: none;
    box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
    -webkit-box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
    -moz-box-shadow: -10px 5px 9px 0px rgba(73, 181, 23, 0.75);
  }
  .projectImage:after {
    display: none;
  }
  .projectInfo {
    max-height: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid hsl(101, 77%, 40%);
  }
  .projectInfo h3 {
    grid-row: 1;
    grid-column: 1/span 2;
    font-size: clamp(1.375rem, -0.0781rem + 2.2727vw, 1.625rem);
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .projectInfo ul {
    grid-row: 2;
    grid-column: 2/span 2;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }
  .projectInfo p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }
  .projectLinks {
    justify-content: flex-end;
  }
  .projectLinks a {
    font-size: clamp(0.625rem, -0.8281rem + 2.2727vw, 0.875rem);
  }
  .projectAbout {
    grid-column: span 3;
    grid-row: 3;
  }
  .partners {
    grid-row: 4;
    grid-column: span 3;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact h2:after {
    width: 75%;
    left: 13.5%;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2.5rem;
    width: 60vw;
  }
  form div:nth-child(3) {
    grid-column: span 2;
  }
  .formButtons {
    grid-column: span 2;
  }
  .formButtons, input, textarea {
    margin-top: 0;
    margin-bottom: 0;
  }
  .archiveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .archive {
    width: 33vw;
  }
  .archiveContent {
    text-align: center;
  }
  .eggy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eggy img {
    width: 30vw;
    height: 18.5414091471vw;
  }
  .eggy .projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    max-height: 0;
    border-bottom: none;
  }
  .eggy .projectInfo h3 {
    padding-top: 1rem;
  }
  .eggy .projectInfo p {
    padding-top: 1rem;
  }
  .eggy .projectLinks {
    margin-top: 1.5rem;
    justify-content: space-evenly;
    width: 300px;
  }
}
@media (min-width: 1199px) {
  .about h2 {
    font-size: clamp(1.625rem, 1.45rem + 0.875vw, 2.5rem);
  }
  .techUl {
    grid-template-columns: repeat(6, 1fr);
  }
  .slide {
    grid-template-columns: 0.4fr 1fr;
    gap: 2rem;
    margin: 5rem auto;
  }
  .partners {
    text-align: left;
  }
}
@media (min-width: 1619px) {
  .about img {
    width: 15vw;
  }
  .projects {
    padding: 0;
  }
  .slideContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 2.5% auto;
  }
  .slideButtonContainer {
    display: flex;
    justify-content: center;
  }
  .prevButton, .nextButton {
    display: block;
    width: 10vw;
  }
  .slideTrack {
    position: relative;
    min-height: 370.8281829419px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slide {
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .slide .projectInfo {
    max-height: 0;
    padding: 0;
    border-bottom: none;
  }
  .slide .projectImage {
    width: 100%;
    height: auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .slide img {
    height: auto;
  }
  .desktopDescription {
    width: 60vw;
    padding-bottom: clamp(0.625rem, 0.1996rem + 0.4202vw, 1.25rem);
  }
  .desktopDescription .projectInfo {
    border-bottom: none;
  }
  form {
    width: 50vw;
  }
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}
footer p {
  text-align: center;
}

.bottomT {
  color: hsl(101, 77%, 40%);
  font-family: dizhitl;
  text-align: center;
  font-size: clamp(2.25rem, 2.175rem + 0.375vw, 2.625rem);
  margin: 0 auto;
  cursor: pointer;
  transition: all 1s;
}

@media (min-width: 1023px) {
  footer i {
    font-size: clamp(1.875rem, -1.7578rem + 5.6818vw, 2.5rem);
  }
}/*# sourceMappingURL=styles.css.map */